*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(3, 97, 3);
}

#header{
  font-size: xx-large;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(2, 31, 13, 0.5);
  color: #036103;
  padding: 18px;
  margin: 20px;
  border-radius: 50px;
  border: 10px solid;
  letter-spacing: 2px;
 
}

.links{
  display: flex;
  gap: 50px;
  font-size: x-large;
}

body{
  background-color:rgba(245, 239, 239, 0.921);  
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.home-picture {
  max-width: 100%;
}

.home-page {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fancy {
  display: flex;
  border-radius: 10px;
  padding: 20px; 
  justify-content: center; 
  height: 500px;
  width: 500px;
}

.fancy:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #036103;
}

.article-card {
  justify-content: center;
  height: 460px;
  width: 450px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 0px;
  padding: 5px;
  margin-top: 15px;
  text-align: center;
}

.single-article{
  display: flex;
}

li {
  list-style-type: none;
}

li::before {
  margin-right: 5px;   
  display: inline-block; 
}

.comment-card{
  text-align: center;
  color: #036103;
  padding: 18px;
  margin: 20px;
  border-radius: 30px;
  border: 10px solid;
}
.login-button {
  background-color:  #025919; 
  color: white; 
  font-size: 16px; 
  padding: 10px 20px;
  border: none;
  border-radius: 30px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.login-button:hover {
  background-color:  #025919; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.login-button:focus {
  outline: none; 
}

.login-button:active {
  transform: translateY(1px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

button {
  background: #025919;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  margin-left: 5px;
}

.new-comment{
  text-align: center;
  color: #036103;
  padding: 18px;
  margin: 20px;
  border-radius: 30px;
  border: 10px solid;
}

.topic-card{
  text-align: center;
  color: #036103;
  padding: 18px;
  margin: 20px;
  border-radius: 30px;
  border: 10px solid;
}

.sorting{
  border-radius: 30px;
  border: 5px solid;
  font-size: medium;
}

.post-comment{
  border-radius: 10px;
  border: 3px solid;
}

.error {
  color: red;
}

